.onecontainer {
    border-radius: 20px;
    border: 1px solid #8C8C8C;
    /* 혜빈추가 */
    height: 408px;
    position: relative;
    padding: 20px;        /* 상하좌우 여백 */
    box-sizing: border-box;
}

.ddsh {
    padding-left: 10px;
    color: #696b70;
    font-weight: bold;
    font-size: 22px;
}