.leftcontainer {
    width: 100%;
    height:50%;          
    display: flex;
    flex-direction: row;   
    gap: 20px;            
    box-sizing: border-box;
}

/* 개별 DashLeftOne / DashLeftTwo에 flex: 1 적용 */
.leftcontainer > * {
    flex: 1;               
}
