.dashcontainer {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px; /* left와 right 사이 간격 */
    margin: 0 auto; /* 가운데 정렬 */
    box-sizing: border-box;
}

.left {
    flex: 1; /* 전체 대비 1:1 비율 */
    display: flex;
    flex-direction: column; /* DashLeftUp / DashLeftDown 위아래 배치 */
    gap: 20px; /* left 내부 컴포넌트 간 간격 */
    height: 100%;
    /* border: 1px solid black; */
    box-sizing: border-box;
}

.right {
    flex: 1; /* 전체 대비 1:1 비율 */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
